[buildout]
develop = .
parts = test checker coverage coverage-test

[test]
recipe = zc.recipe.testrunner
eggs = z3c.json [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage']

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/json

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
